<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>


        .lead {
            padding:10px 6px 10px 6px;
            margin-top: 10px;
            background-color: #f6f6f6;
            width: 100%;



        }
        
    </style>

    {% comment %} 
    padding:10px 5px 15px 20px;
    top padding is 10px
    right padding is 5px
    bottom padding is 15px
    left padding is 20px 
    {% endcomment %}

</head>
<body>
    
{% comment %} <a href="/leads/create/">Create New Lead</a> This is how you create a hard coded link{% endcomment %}

{% comment %} This here is an dynamic link using first the namespace from the core url and than finding the name of the path in your app url {% endcomment %}
<a href="{% url 'leads:lead-create' %}">Create New Lead</a>
    <hr>
<h1>This is all of our leads</h1>

    {% for lead in leads %}

    <div class="lead"> 
        {% comment %} the href is how you can get the model to return the pk value from the databas coming from the item it found {% endcomment %}
        {% comment %} <a href="/leads/{{lead.pk}}/" class=""> This is how you send a primary key the hard coded way{% endcomment %}
            

        {% comment %} This is how you send the primary key dynamicaly {% endcomment %}
        <a href="{% url 'leads:lead-detail' lead.pk %}" >
            {{lead.first_name}} {{lead.last_name}} {{lead.age}}
        </a>
    </div>
   
    {% endfor %}



</body>
</html>