<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Djang Custumer Relationship Manager</title>

    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

{% include 'navbar.html' %}

<div class="max-w-7xl mx-auto">
{% block content %}
{% endblock content %}
</div>

    
{% comment %} This here is hpw you include our webpages to your page {% endcomment %}
{% include 'scripts.html' %}
</body>
</html>